/deep/ .tile-headers,
/deep/ .tile-row {
  grid-template-columns: repeat(7, 1fr);
}

.date-tile {
  color: #e37523 !important;
  font-weight: 600;
  letter-spacing: -1px;
  font-style: italic;
}

.delete-option {
  background-color: #d87777;
}
